@using blazing_resume.models;

<h3>Prestaties</h3>

@foreach (var awardItem in Data)
{
    <div class="mb-2">
        <MudTextField Label="Titel" @bind-Value="awardItem.Title" />
    </div>
    <div class="mb-2">
        <MudDatePicker Label="Datum" @bind-Value="awardItem.Date" Format="yyyy-MM-dd" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Toekennende instantie" @bind-Value="awardItem.Awarder" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Samenvatting" @bind-Value="awardItem.Summary" />
    </div>
}

<button @onclick="AddAwardItem">Toevoegen</button>

@code {
    [Parameter]
    public List<Award> Data { get; set; }

    private void AddAwardItem()
    {
        Data.Add(new Award());
    }
}