@using blazing_resume.models;

<MudText Typo="Typo.h4" Class="mt-5">Opleiding</MudText>

@foreach (var educationItem in Data)
{
    <div class="mb-2">
        <MudTextField Label="Instelling" @bind-Value="educationItem.Institution" />
    </div>
    <div class="mb-2">
        <MudTextField Label="URL" @bind-Value="educationItem.Url" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Studierichting" @bind-Value="educationItem.Area" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Studietype" @bind-Value="educationItem.StudyType" />
    </div>
    <div class="mb-2">
        <MudDatePicker Label="Startdatum" @bind-Date="educationItem.StartDate" />
    </div>
    <div class="mb-2">
        <MudDatePicker Label="Einddatum" @bind-Date="educationItem.EndDate" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Cijfer" @bind-Value="educationItem.Score" />
    </div>
    <div>
        <MudText Typo="Typo.h5" Class="mt-8">Cursussen</MudText>

        @for (var i = 0; i < educationItem.Courses.Count; i++)
        {
            <div class="mb-2">
                <MudTextField Label="Cursus" @bind-Value="educationItem.Courses[i]" />
            </div>
        }

        <MudButton @onclick="() => AddCourse(educationItem)"
                   Class="my-5"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            Cursus toevoegen
        </MudButton>
    </div>
}

<MudButton @onclick="AddEducationItem"
           Class="my-5"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Werkervaring toevoegen
</MudButton>

@code {
    [Parameter]
    public List<Education> Data { get; set; }

    private void AddEducationItem()
    {
        Data.Add(new Education());
    }

    private void AddCourse(Education educationItem)
    {
        if (educationItem.Courses == null)
        {
            educationItem.Courses = new List<string>();
        }
        educationItem.Courses.Add("");
    }
}