@using blazing_resume.models;

<MudText Typo="Typo.h4" Class="mt-5">Vaardigheden</MudText>

@foreach (var skillItem in Data)
{
    <div class="mb-2">
        <MudTextField Label="Naam" @bind-Value="skillItem.Name" />
    </div>
    <div class="mb-2">
        <MudTextField Label="Niveau" @bind-Value="skillItem.Level" />
    </div>
    <div>
        <MudText Typo="Typo.h5" Class="mt-8">Trefwoorden</MudText>

        @for (var i = 0; i < skillItem.Keywords.Count; i++)
        {
            <div class="mb-2">
                <MudTextField Label="Trefwoord" @bind-Value="skillItem.Keywords[i]" />
            </div>
        }

        <MudButton @onclick="() => AddKeyword(skillItem)"
                   Class="my-5"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            Trefwoord toevoegen
        </MudButton>
    </div>
}

<MudButton @onclick="AddSkillItem"
           Class="my-5"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Skill toevoegen
</MudButton>

@code {
    [Parameter]
    public List<Skill> Data { get; set; }

    private void AddSkillItem()
    {
        Data.Add(new Skill());
    }

    private void AddKeyword(Skill skillItem)
    {
        if (skillItem.Keywords == null)
        {
            skillItem.Keywords = new List<string>();
        }
        skillItem.Keywords.Add("");
    }
}