@page "/"

<PageTitle>Blazing-resume</PageTitle>

<h1>Piece of cake</h1>

This free resume tool makes creating or editing your resume as easy as it could be. Just select a template, fill in your info and download the result.
There's no payment required, you don't even pay in data as it is all local.
Want to save your data? It's easy, just download the JSON data and upload it again next time.

<a href="create">Click here to start</a>
